<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Friend Finder</title>
	</head>
	<body>
		<h1><%= title %></h1>


		<form action="/api/friends" method="post">
			<input name="name" type="text" placeholder="Enter a username"></input>
			<input name="photo" type="text" placeholder="Enter a link to a photo image"></input>
			<% for (var i=0; i < questions.length; i++) {%>
				<div>
					<p><%= questions[i] %> <br>
					<select name="question-<%= [i] %>">
						<% for (var j=0; j < answers.length; j++) { %>
								<option value="<%= answers[j]%>"><%= answers[j]%></option>
						<% } %>
					</select>
					</p>
				</div>
			<% } %>
			<input type="submit" value="submit">
		</form>
	</body>
</html>